*.tdo*
.DS_Store*
*.aux*
*.log*
*.lof*
*.lot*
*.out*
*.gz*
*.toc*
*.bbl*
*.blg*
*~*
*.nlo*
*.d*
*.bcf*
*.blg*
*~*
*.nlo*
*.d
*.btmp*
*.fls*
*.glo*
*.idx*
*.ist*
*.ilg*
*.ind*
*cookie*
*#*
*.nls*
*.nlg*
thesis.txt*
thesis.bcf*
thesis.run.xml*
thesis.pdf
*run.xml*
*.latexmkrc*
*_latexmk*
